<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CAS.CommServer.DAClientConfiguration" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.2.37849" newVersion="5.1.2.37849" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.CommServer.DA.Server.Configuration" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.15768" newVersion="4.1.0.15768" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>