<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="CAS.UA.Server.DataBindings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
	<applicationSettings>
		<CAS.UA.Server.DataBindings.Properties.Settings>
			<setting name="AutoBindingToSimulatorForNotConfiguredVariables" serializeAs="String">
				<value>True</value>
			</setting>
		</CAS.UA.Server.DataBindings.Properties.Settings>
	</applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CAS.RTLibComm" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.19545" newVersion="4.0.2.19545" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.CodeProtect" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.19526" newVersion="4.0.2.19526" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.CommServer.DAClientConfiguration" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.2.37849" newVersion="5.1.2.37849" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.CommServer.DA.Server.Configuration" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.15768" newVersion="4.1.0.15768" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
