<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CAS.CommServer.DAClientConfiguration" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.2.20296" newVersion="5.1.2.20296" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.RTLibComm" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.4.28381" newVersion="5.0.4.28381" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.Windows.Forms" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.39051" newVersion="6.0.0.39051" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.CodeProtect" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.28328" newVersion="6.0.0.28328" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.RTLib" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.4.28382" newVersion="5.0.4.28382" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.CommServer.DAServerConfiguration" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.20298" newVersion="4.1.2.20298" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>