<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Opc.Da.SampleServer.Device" value="CASOpcDaWrapper.device.xml"/>
    <add key="key1" value="dd7427f4cb5d27ed8c56"/>
    <add key="key2" value="99e1c0d64cef6ad070d5f2c55ce2197e19fa4fb0"/>
    <!-- <add key="ItemDsc_configfile" value="X:\cas\vs\VS_30_NoRemoting\PR21XX-CommServer\CommServer\bin\Debug\item_dsc.xml" /> -->
    <add key="ItemDsc_configfile" value="item_dsc.xml"/>
    <!--error frequency for null protocol -->
    <add key="NULLErrorFrequency" value="100000"/>
    <add key="configfile" value="DefaultConfig.xml"/>
    <add key="PLCNaN" value="65535"/>
    <add key="MinAvgMax_Tag_management" value="50"/>
    <add key="MinAvgMax_Group_management" value="50"/>
    <add key="MinAvgMax_Group_Read_management" value="50"/>
    <add key="MinAvgMax_Transition_management" value="50"/>
    <add key="MinAvgMax_FrameResponse_management" value="20"/>
    <add key="MinAvgMax_CharacterGap_management" value="500"/>
    <add key="WaitForReconnectServerInSec" value="30"/>
    <add key="WaitForFirstGroupUpdateSendInMiliSec" value="0"/>
    <add key="HTTPport" value="8888"></add>
    <add key="HTTPSOAPport" value="9000"></add>
    <add key="RemotingHTTPport" value="5000"></add>
    <add key="ConsoleRemotingHTTPport" value="5757"></add>
    <add key="UseLocalTime" value="False"></add>
    <add key="MinAvgMax_Transaction_management" value="20"/>
  </appSettings>
  <!--ms-help://MS.VSCC.v80/MS.MSDN.v80/MS.VisualStudio.v80.en/dv_fxdebug/html/f88dda6f-5fda-45be-9b3c-745a9b708c4d.htm-->
  <!-- ms-help://MS.VSCC.v80/MS.MSDN.v80/MS.NETDEVFX.v20.en/dv_fxgenref/html/3f348f42-fa72-4ff2-aa1c-bb9eecad4bb2.htm -->
  <system.diagnostics>
    <sources>
      <source name="TracesFromEventLogMonitor" switchName="EventLogMonitor" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <!--
          <add name="console"
            type="System.Diagnostics.ConsoleTraceListener">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning"/>
          </add>
          -->
          <add name="DebugOutput"/>
          <add name="LogFile"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="TraceNet_to_Serial" switchName="Net_to_Serial" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <!--
          <add name="console"
            type="System.Diagnostics.ConsoleTraceListener">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning"/>
          </add>
          -->
          <add name="DebugOutput"/>
          <add name="LogFile"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="CAS.BaseStation.TraceEvent" switchName="BaseStationTrace" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="DebugOutput"/>
          <add name="LogFile"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="CAS.BaseStation.InitialisationTrace" switchName="InitialisationTrace" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="DebugOutput"/>
          <add name="LogFile"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="NetworkConfig.ApplicationProtocol" switchName="NetworkConfig" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="ConfigLogFile"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <!-- ms-help://MS.VSCC.v80/MS.MSDN.v80/MS.VisualStudio.v80.en/dv_fxnetwork/html/5ef9fe4b-8d3d-490e-9259-1d014b2181af.htm -->
      <source name="System.Net.Sockets">
        <listeners>
          <add name="LogFile"/>
          <add name="DebugOutput"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="CAS.Lib.CommServer" switchName="CAS.Lib.CommServer" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="DebugOutput"/>
          <add name="LogFile"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="CAS.Lib.RTLib" switchName="CAS.Lib.CommServer" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="DebugOutput"/>
          <add name="LogFile"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <!--ms-help://MS.VSCC.v80/MS.MSDN.v80/MS.NETDEVFX.v20.en/cpref6/html/T_System_Diagnostics_SourceLevels.htm-->
      <!-- SourceLevels Enumeration -->

      <add name="EventLogMonitor" value="All"/>
      <add name="NetworkConfig" value="Warning"/>
      <add name="Net_to_Serial" value="Warning"/>
      <add name="RS_to_Serial" value="Warning"/>
      <add name="CAPI_to_Serial" value="Warning"/>
      <add name="InitialisationTrace" value="Warning"/>
      <add name="BaseStationTrace" value="Warning"/>
      <add name="CAS.Lib.CommServer" value="Warning"/>
      <add name="System.Net.Sockets" value="Warning"/>
    </switches>
    <sharedListeners>
      <add name="DebugOutput" type="System.Diagnostics.ConsoleTraceListener" initializeData="false">
        <!-- Allows all events through. -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" /> -->
        <!-- Allows the Stop, Start, Suspend, Transfer, and Resume events through. -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="ActivityTracing" /> -->
        <!-- Allows only Critical events through.  -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Critical" /> -->
        <!-- Allows Critical and Error events through.  -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" /> -->
        <!-- Allows Critical, Error, Warning, and Information events through. -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information" /> -->
        <!-- Does not allow any events through. -->
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Off"/>
        <!-- Allows Critical, Error, Warning, Information, and Verbose events through.  -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose" /> -->
        <!-- Allows Critical, Error, and Warning events through. -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning" /> -->
      </add>
      <add name="LogFile" type="CAS.Lib.RTLib.Diagnostics.AdvancedDelimitedListTraceListener, CAS.RTLibComm" initializeData="|ApplicationDataPath|log\CommServer_Main.log" traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
      </add>
      <add name="ConfigLogFile" type="CAS.Lib.RTLib.Diagnostics.AdvancedDelimitedListTraceListener, CAS.RTLibComm" initializeData="|ApplicationDataPath|log\CommServer_NetworkConfig.log" traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
      </add>
    </sharedListeners>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
